body {
  margin: 30px 0;
  background: linear-gradient(-45deg, #e952eec7, #3c94e7c2, #234cd5d2, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-size: 120px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px 30px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}